@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.nopage-body {
    background: url(../../assets/img/back-img.svg) no-repeat center center fixed;
    background-size: cover;
    height: 102.1vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
}

.nopage-paper {
    width: 476px;
    height: 620px;

    background: rgba(246, 246, 246, 0.95) !important;
    box-shadow: 16px 16px 40px rgba(187, 195, 206, 0.6) !important;
    border-radius: 16px !important;
}

.blue-box {
    /* background: url(../../assets/img/blue.svg) no-repeat center center fixed; */
   
    width: 476px;
    height: 211px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nopage-topic { 
    font-family: 'IBM Plex Mono' !important;
    font-style: normal !important;
    height: 52px !important;
    font-weight: 700 !important;
    font-size: 40px !important;
    line-height: 52px;
    /* identical to box height */

    text-align: center !important;
    letter-spacing: 1px !important;

    color: #2C3135 !important;
    margin-top: 40px !important;

}

.nopage-desc {
    height: 22px;
 

    font-family: 'IBM Plex Mono' !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 17px !important;
    line-height: 22px !important;
    /* identical to box height */

    text-align: center;

    /* blueGrey600 */

    color: #546E7A !important;
}

.nopage-btn {

    background: #9AD0EC !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 16px !important;

    width: 170px;
    height: 48px;

    font-family: 'IBM Plex Mono' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 17px !important;
    line-height: 22px !important;
    text-transform: none !important;
    /* identical to box height */

    text-align: center !important;
    letter-spacing: 1px !important;

    color: #2C3135 !important;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    margin-top: 0px !important;
}




